<!-- about-->
<section class="page-section bg-light" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">關於我</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/about/avatar.jpg" alt="" />
                    <h4>Jimmy Ma</h4>
                    <p class="text-muted">Python coder</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/nicehorse06"><i
                            class="fab fa-github"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/jimmy-ma-1b676a122/"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="large text-muted">
                    嗨，我是Jimmy，寫網站維生。
                </p>
                <p class="large text-muted">
                    2022規劃考一張AWS雲端證照、學會盲打、找網路一對一英文家教、
                    爬一座百岳、保持健身的習慣、目標是能拉一下單槓和消除小腹、看投資的書、多挪時間投資自己、
                    投資全球指數、投資加密貨幣、辦好幾場同學會、拓展生活圈以外的人脈、學第二外語、刷大量程式題目、
                    做出更多有用的網站當作品，像這個網站就是用Angular實做。
                </p>
                <p class="large text-muted">
                    有關程式、外語、運動、爬山都可以找我交流喔!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="work">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">工作</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="large text-muted">
                    目前是Python的網頁後端工程師，常用的框架是Django。
                </p>
                <p class="large text-muted">
                    近期要弄熟Python的Flask和fast api，Angular框架, C語言與其應用的資料結構演算法，了解Linux kernel開發，學Golang和RUST語言。
                    另外要習慣上AWS佈署，了解系統設計。
                </p>
                <p class="large text-muted">
                    目標是進入像Google、Amazon、MTK這類的大公司當碼農，甚至可以Remote找到海外工作。
                </p>
            </div>
        </div>
    </div>
</section>